<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Womensafe"
        tools:targetApi="31">

        <service
            android:name=".EmergencyTriggerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ChatbotActivity"
            android:exported="false" />

        <activity
            android:name=".SosDialogActivity"
            android:exported="false"
            android:theme="@style/Theme.WomenSafe.FullScreen" />

        <activity
            android:name=".requestlist"
            android:exported="false" />

        <activity
            android:name=".aboutus"
            android:exported="false" />

        <activity
            android:name=".safetytips"
            android:exported="false" />

        <activity
            android:name=".trustedpeopledetailed"
            android:exported="false" />

        <activity
            android:name=".editmsg"
            android:exported="false" />

        <activity
            android:name=".menu"
            android:exported="false" />

        <activity
            android:name=".profile"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAo9_YCU-l1uPF5cG9cEjupJb5cmmktwc" />

        <activity
            android:name=".locationn"
            android:exported="false" />

        <activity
            android:name=".addpeople"
            android:exported="false" />

        <activity
            android:name=".Dashboard"
            android:exported="false" />

        <activity
            android:name=".completeprofile"
            android:exported="false" />

        <activity
            android:name=".register"
            android:exported="false" />

        <activity
            android:name=".login"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
